[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
pillow = "*"
flask-mail = "*"
flask-ext = "*"
markdown = "*"
markdownify = "*"
python-dotenv = "*"
mysql-connector-python = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
