{% extends "layout.html" %}

{% block heading %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/admin.css') }}">
{% endblock %}

{% block body %}
    <div class="pageContainer">
        <div class="accountContent">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ image_file }}">
                <div class="media-container">
                    <p>{{ current_user.username }}</p>
                    <p>{{ current_user.email }}</p>
                </div>
            </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Admin</legend>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
        
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
        
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
        
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.image.label() }}
                            {{ form.image(class="form-control-file") }}
                            {% if form.image.errors %}
                                {% for error in form.image.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        </fieldset>
                        <div class="submitContainer">
                            <div class="form-group">
                                {{ form.submit(class="submitBtn")}}
                            </div>
                        </div>
                    </form>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Upload Artwork</legend>
                            <div class="form-group">
                                {{ artwork_form.artwork.label(class="form-control-label") }}
            
                                {% if artwork_form.artwork.errors %}
                                    {{ artwork_form.artwork(class="form-control-file is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in artwork_form.artwork.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ artwork_form.artwork(class="form-control-file") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ artwork_form.tag.label(class="form-control-label") }}
            
                                {% if artwork_form.tag.errors %}
                                    {{ artwork_form.tag(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in artwork_form.tag.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ artwork_form.tag(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            </fieldset>
                            <div class="submitContainer">
                                <div class="form-group">
                                    {{ artwork_form.submit(class="submitBtn")}}
                                </div>
                            </div>
                    </form>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Upload Writing</legend>
                            <div class="form-group">
                                {{ writing_form.title.label(class="form-control-label") }}
            
                                {% if writing_form.title.errors %}
                                    {{ writing_form.title(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in writing_form.title.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ writing_form.title(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
            
                            <div class="form-group">
                                {{ writing_form.details.label(class="form-control-label") }}
            
                                {% if writing_form.details.errors %}
                                    {{ writing_form.details(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in writing_form.details.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ writing_form.details(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ writing_form.content.label(class="form-control-label") }}
            
                                {% if writing_form.content.errors %}
                                    {{ writing_form.content(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in writing_form.content.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ writing_form.content(class="form-control form-control-textbox") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ writing_form.tag.label(class="form-control-label") }}
            
                                {% if writing_form.tag.errors %}
                                    {{ writing_form.tag(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in writing_form.tag.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ writing_form.tag(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            </fieldset>
                            <div class="submitContainer">
                                <div class="form-group">
                                    {{ writing_form.submit(class="submitBtn")}}
                                </div>
                            </div>
                        </form>
                        <form method="POST" action="" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Upload Video</legend>
                                <div class="form-group">
                                    {{ video_form.title.label(class="form-control-label") }}
                
                                    {% if video_form.title.errors %}
                                        {{ video_form.title(class="form-control form-control-lg is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in video_form.title.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ video_form.title(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                
                                <div class="form-group">
                                    {{ video_form.url.label(class="form-control-label") }}
                
                                    {% if video_form.url.errors %}
                                        {{ video_form.url(class="form-control form-control-lg is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in video_form.url.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ video_form.url(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ video_form.tag.label(class="form-control-label") }}
                
                                    {% if video_form.tag.errors %}
                                        {{ video_form.tag(class="form-control form-control-lg is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in video_form.tag.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ video_form.tag(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                </fieldset>
                                <div class="submitContainer">
                                    <div class="form-group">
                                        {{ video_form.submit(class="submitBtn")}}
                                    </div>
                                </div>
                            </form>
                            <form method="POST" action="" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Add Project</legend>
                                    <div class="form-group">
                                        {{ project_form.title.label(class="form-control-label") }}
                    
                                        {% if project_form.title.errors %}
                                            {{ project_form.title(class="form-control form-control-lg is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in project_form.title.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ project_form.title(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                    
                                    <div class="form-group">
                                        {{ project_form.details.label(class="form-control-label") }}
                    
                                        {% if project_form.details.errors %}
                                            {{ project_form.details(class="form-control form-control-lg is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in project_form.details.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ project_form.details(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ project_form.completion_time.label(class="form-control-label") }}
                    
                                        {% if project_form.completion_time.errors %}
                                            {{ project_form.completion_time(class="form-control form-control-lg is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in project_form.completion_time.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ project_form.completion_time(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    </fieldset>
                                    <div class="submitContainer">
                                        <div class="form-group">
                                            {{ project_form.submit(class="submitBtn")}}
                                        </div>
                                    </div>
                                </form>
                                <form method="POST" action="" enctype="multipart/form-data">
                                    {{ form.hidden_tag() }}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Add Audio</legend>
                                        <div class="form-group">
                                            {{ audio_form.title.label(class="form-control-label") }}
                        
                                            {% if audio_form.title.errors %}
                                                {{ audio_form.title(class="form-control form-control-lg is-invalid")}}
                                                <div class="invalid-feedback">
                                                    {% for error in audio_form.title.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ audio_form.title(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ audio_form.image.label(class="form-control-label") }}
                        
                                            {% if audio_form.image.errors %}
                                                {{ audio_form.image(class="form-control-file")}}
                                                <div class="invalid-feedback">
                                                    {% for error in audio_form.image.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ audio_form.image(class="form-control-file") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ audio_form.audio.label(class="form-control-label") }}
                        
                                            {% if audio_form.audio.errors %}
                                                {{ audio_form.audio(class="form-control-file")}}
                                                <div class="invalid-feedback">
                                                    {% for error in audio_form.audio.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ audio_form.audio(class="form-control-file") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ audio_form.tag.label(class="form-control-label") }}
                        
                                            {% if audio_form.tag.errors %}
                                                {{ audio_form.tag(class="form-control form-control-lg is-invalid")}}
                                                <div class="invalid-feedback">
                                                    {% for error in audio_form.tag.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ audio_form.tag(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ audio_form.lyrics.label(class="form-control-label") }}
                        
                                            {% if audio_form.lyrics.errors %}
                                                {{ audio_form.lyrics(class="form-control form-control-lg is-invalid")}}
                                                <div class="invalid-feedback">
                                                    {% for error in audio_form.lyrics.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ audio_form.lyrics(class="form-control form-control-textbox") }}
                                            {% endif %}
                                        </div>
                                    </fieldset>
                                    <div class="submitContainer">
                                        <div class="form-group">
                                            {{ audio_form.submit(class="submitBtn")}}
                                        </div>
                                    </div>
                                </form>
                                <form method="POST" action="" enctype="multipart/form-data">
                                    {{ form.hidden_tag() }}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Mass Email</legend>
                                        <div class="form-group">
                                            {{ mass_email_form.title.label(class="form-control-label") }}
                        
                                            {% if mass_email_form.title.errors %}
                                                {{ mass_email_form.title(class="form-control form-control-lg is-invalid")}}
                                                <div class="invalid-feedback">
                                                    {% for error in mass_email_form.title.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ mass_email_form.title(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ mass_email_form.content.label(class="form-control-label") }}
                        
                                            {% if mass_email_form.content.errors %}
                                                {{ mass_email_form.content(class="form-control form-control-lg is-invalid")}}
                                                <div class="invalid-feedback">
                                                    {% for error in mass_email_form.content.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ mass_email_form.content(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                        </fieldset>
                                        <div class="submitContainer">
                                            <div class="form-group">
                                                {{ mass_email_form.submit(class="submitBtn")}}
                                            </div>
                                        </div>
                                    </form>
                                    <form method="POST" action="" enctype="multipart/form-data">
                                        {{ form.hidden_tag() }}
                                        <fieldset class="form-group">
                                            <legend class="border-bottom mb-4">Update User</legend>
                                            <div class="form-group">
                                                {{ update_form.username.label(class="form-control-label") }}
                            
                                                {% if update_form.username.errors %}
                                                    {{ update_form.username(class="form-control form-control-lg is-invalid")}}
                                                    <div class="invalid-feedback">
                                                        {% for error in update_form.username.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ update_form.username(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ update_form.memberType.label(class="form-control-label") }}
                            
                                                {% if update_form.memberType.errors %}
                                                    {{ update_form.memberType(class="form-control form-control-lg is-invalid")}}
                                                    <div class="invalid-feedback">
                                                        {% for error in update_form.memberType.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ update_form.memberType(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                        </fieldset>
                                        <div class="submitContainer">
                                            <div class="form-group">
                                                {{ update_form.submit(class="submitBtn")}}
                                            </div>
                                        </div>
                                    </form>
        </div>
    </div>
{% endblock %}