{% extends "layout.html" %} {% block heading %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='admin/admin.css') }}"
/>
{% endblock %} {% block body %}
<div class="pageContainer">
  <div class="accountContent">
    <div class="media">
      <img
        class="rounded-circle account-img"
        src="{{ image_to_display }}"
        width="150"
      />
      <div class="media-container">
        <p>{{ current_user.username }}</p>
        <p>{{ current_user.email }}</p>
      </div>
    </div>

    {% include "users/admin_form_update_self.html" %} {% include
    "users/admin_form_artwork.html" %} {% include "users/admin_form_audio.html"
    %} {% include "users/admin_form_video.html" %} {% include
    "users/admin_form_writing.html" %} {% include
    "users/admin_form_project.html" %} {% include
    "users/admin_form_update_user.html" %}
  </div>
</div>
{% endblock %}
