<form method="POST" action="" enctype="multipart/form-data">
  {{ video_form.hidden_tag() }}
  <input type="hidden" name="form_type" value="video_form" />
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Upload Video</legend>
    <div class="form-group">
      {{ video_form.title.label(class="form-control-label") }} {% if
      video_form.title.errors %} {{ video_form.title(class="form-control
      form-control-lg is-invalid")}}
      <div class="invalid-feedback">
        {% for error in video_form.title.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ video_form.title(class="form-control form-control-lg") }} {%
      endif %}
    </div>

    <div class="form-group">
      {{ video_form.url.label(class="form-control-label") }} {% if
      video_form.url.errors %} {{ video_form.url(class="form-control
      form-control-lg is-invalid")}}
      <div class="invalid-feedback">
        {% for error in video_form.url.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ video_form.url(class="form-control form-control-lg") }} {%
      endif %}
    </div>
    <div class="form-group">
      {{ video_form.tag.label(class="form-control-label") }} {% if
      video_form.tag.errors %} {{ video_form.tag(class="form-control
      form-control-lg is-invalid")}}
      <div class="invalid-feedback">
        {% for error in video_form.tag.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ video_form.tag(class="form-control form-control-lg") }} {%
      endif %}
    </div>
  </fieldset>
  <div class="submitContainer">
    <div class="form-group">{{ video_form.submit(class="submitBtn")}}</div>
  </div>
</form>
