{% extends "layout.html" %}
{% block heading %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ancillary/genzeon/genzeon.css') }}">
<script defer src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script defer src="{{ url_for('static', filename='ancillary/genzeon/genzeon.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="pageContainer">
        <div class="localDirectory">
            <div class="localDirectoryContentContainer">
                <img class="fileIcon" src="{{ url_for('static', filename='images/file.png') }}"></img>
                <span class="directoryLinks"><a href="{{ url_for('ancillary.genzeon')}}">Genzeon</a></span>
                <span class="directoryLinks">></span>
                <span class="directoryLinks"><a href="{{ url_for('ancillary.tin_db')}}">TIN DB</a></span>
                <span class="directoryLinks">></span>
                <span class="directoryLinks"><a href="{{ url_for('ancillary.form_models')}}">Models</a></span>
            </div>
        </div>
        <div class="linkButton" id="addModelBtn">Add Model</div>
        <form action="" method="post" class="newModelForm" id="newMdlForm" enctype="multipart/form-data">
            <input type="file" name="myFile" id="myFile" onchange="readURL(this)"></input>
            <img alt="preview" id="imagePreview" src="{{ url_for('static', filename='images/favicon.png') }}"></img>
            <div class="nameField">
                <input placeholder="Model Name" class="nameInput"></input>
                <input type="button" class="sbmBtn" value="submit"></input>
            </div>
        </form>
        <div class="modelContainer">
            {% for form_model in form_models %}
            <div class="genzModel" data-modelType="{{ form_model.id }}">
                <span class="formModelName">{{ form_model.tag }}</span>
                <img class="formModel" src="{{ url_for('static', filename='images/' + form_model.image_file) }}">
                <input type="button" class="deleteBtn" value="Delete Model" data-modelName="{{ form_model.tag }}"></input>
            </div>
        {% endfor %}
        </div>
        <div class="modelModal">
            <div class="tinFormContainer">
                <img id="closeBtn" src="{{ url_for('static', filename='images/close.png') }}"></img>
                <div class="contentWrap">
                    <span id="formHead">TINs associated with this Model</span>
                    <div id="tinListContainer"></div>
                    <div class="submitContainer">
                        <label for="tinSelector" id="tsLabel">Add TIN</label>
                        <select name="tinSelector" id="tinSelector">
                            {% for TIN in tin_list %}
                                <option value="{{ TIN.number }}">{{ TIN.number }}</option>
                            {% endfor %}
                        </select>
                        <input id="tinModelAddBtn" type="submit" value="submit"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
  