{% extends "layout.html" %} {% block heading %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='ancillary/about/about.css') }}"
/>
{% endblock %} {% block body %}
<div class="pageContainer">
  <div class="aboutMeContainer">
    <div class="profileContainer">
      <div class="profileInformation">
        <div class="aboutPhoto"></div>
        <div class="profileRow">
          <span class="overhead">Name:</span
          ><span class="payload">Alan Pysnack</span>
        </div>
        <div class="profileRow">
          <span class="overhead">Pronouns:</span
          ><span class="payload">He/Him/His</span>
        </div>
        <div class="profileRow">
          <span class="overhead">Born:</span
          ><span class="payload">St. Petersburg, Florida</span>
        </div>
        <div class="profileRow">
          <span class="overhead">Current:</span
          ><span class="payload">Pikesville, MD</span>
        </div>
        <div class="profileRow">
          <span class="overhead">Education:</span
          ><span class="payload">B.S. in Computer Science</span>
        </div>
        <div class="profileRow">
          <span class="overhead">Alma Mater:</span
          ><span class="payload">University of South Alabama</span>
        </div>
        <div class="buttonContainer">
          <a href="{{ url_for('ancillary.contact')}}" class="btn btn-primary"
            >Contact Me</a
          >
        </div>
      </div>
    </div>
    <div class="aboutColumn">
      <div class="aboutColHeader">About Me</div>
      <div class="aboutColContent">
        <p>
          Hi! My name is Alan. I was born in St. Petersburg, Florida with
          Bilaterial Microtia and Atresia. Because of this, I am mostly deaf.
          Around the age of 12, I began writing songs and experimenting with
          music production, as well as utilizing Adobe Photoshop to create basic
          graphic designs.
        </p>
        <p>
          After turning 21, I moved to Maryland where I performed Stand Up
          Comedy at a number of open mics and competitions. It was in Maryland
          that I met my wife, Brooke, who has been the best part of my life for
          over {{ anniversary_years }} years.
        </p>

        <p>
          At 29, I made the decision to return to college and completed my
          Bachelor's degree in Computer Science with a 4.0 GPA. I now work as a
          software engineer and couldn't imagine doing anything else. I've
          accumulated many hobbies and interests over the years, software
          development included, and hope to accumulate more as I get older. I
          have a strong passion for learning as much as I can and trying to
          create new things.
        </p>
      </div>
      <div class="aboutColHeader">About This Website</div>
      <div class="aboutColContent">
        <p>
          Project Fault is a full-stack web application designed to consolidate
          the many creative projects I've worked on over the years. Moreover,
          the creation and deployment of this web application were part of my
          personal journey to develop a better understanding of web development
          and cloud computing. The client-side interface was developed using
          HTML5, CSS, and vanilla JavaScript. The back-end uses Python, Flask,
          and SQL Alchemy to implement a MySQL database. The site in its
          original form was deployed via 2 Linode servers, but I have since
          migrated to AWS and implemented a very basic pipeline for CI/CD. You
          can view the full source code, including the CloudFormation template
          for the ProjectFault infrastructure
          <a href="https://github.com/apysnack">here</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
