{% extends "layout.html" %}
{% block heading %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ancillary/about/about.css') }}">
{% endblock %}

{% block body %}
    <div class="pageContainer">
        <div class="aboutMeContainer">
            <div class="profileContainer">
                <div class="profileInformation">
                    <div class="aboutPhoto"></div>
                    <div class="profileRow"><span class="overhead">Name:</span><span class="payload">Alan Pysnack</span></div>
                    <div class="profileRow"><span class="overhead">Pronouns:</span><span class="payload">He/Him/His</span></div>
                    <div class="profileRow"><span class="overhead">Born:</span><span class="payload">St. Petersburg, Florida</span></div>
                    <div class="profileRow"><span class="overhead">Current:</span><span class="payload">Mobile, Alabama</span></div>
                    <div class="profileRow"><span class="overhead">Education:</span><span class="payload">B.S. in Computer Science</span></div>
                    <div class="profileRow"><span class="overhead">Alma Mater:</span><span class="payload">University of South Alabama</span></div>
                    <div class="buttonContainer">
                        <a href="{{ url_for('ancillary.contact')}}" class="btn btn-primary">Contact Me</a>
                    </div>
                </div>
            </div>
            <div class="aboutColumn">
                <div class="aboutColHeader">About Me</div>
                <div class="aboutColContent"><p>Hi! My name is Alan. I was born in St. Petersburg, Florida with Bilaterial Microtia and Atresia. Because of this, I am mostly deaf.
                    Around the age of 12, I began writing songs and experimenting with music production, as well as utilizing Adobe Photoshop to create basic graphic designs.</p>
                    <p>After I turning 21, I moved to Maryland where I performed Stand Up Comedy at a number of open mics and competitions. It was in Maryland that I met my wife,
                        Brooke, who has been the best part of my life for over 8 years.
                    </p>
                        
                    <p>Together, we moved to Mobile, Alabama with our adorable calico, Chloe. I made the decision to return to college to complete my Bachelor's degree in Computer Science. I've accumulated a number of hobbies
                        and interests over the years, and hope to accumulate more as I get older. I have a strong passion for learning as much as I can, and try to constantly
                        develop new projects as I go.
                    </p>
    
                    <a href="{{ url_for('code.upcoming')}}">Click here to see what I'm working on next!</a>
                </div>
                <div class="aboutColHeader">About This Website</div>
                <div class="aboutColContent"><p>This is a full-stack web application designed to consolidate many of the creative projects I've worked on over the years. The
                    client-side interface was developed using HTML5, CSS, and vanilla JavaScript. The back-end uses Python, Flask, and SQL Alchemy to implement a MySQL database.</p>
                
                    <p>All media on this website is free to the public to be used in any project you desire, including for non-profit and for-profit uses, subject to the <a href="{{ url_for('ancillary.terms')}}">terms and conditions of this agreement</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
  