{% extends "layout.html" %}
{% block heading %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ancillary/contact/contact.css') }}">
{% endblock %}

{% block body %}
<div class="pageContainer">
    <form class="contactForm" method="POST" action="">
        <div class="contactDirectory">
            <div class="localDirectory">
                <div class="localDirectoryContentContainer">
                    <img class="fileIcon" src="{{ url_for('static', filename='images/file.png') }}"></img>
                    <span class="directoryLinks"><a href="{{ url_for('main.media')}}">Media</a></span>
                    <span class="directoryLinks">></span>
                    <span class="directoryLinks"><a href="{{ url_for('main.miscellaneous')}}">Misc</a></span>
                    <span class="directoryLinks">></span>
                    <span class="directoryLinks"><a href="{{ url_for('ancillary.contact')}}">Contact Me</a></span>
                </div>
            </div>
        </div>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Contact Form</legend>

            <div class="form-group">
                {% if form.name.errors %}
                    <div class="formFieldContainer">
                        <img class="icon" src="{{ url_for('static', filename='images/user-icon.png') }}">
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="inv-input">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="formFieldContainer">
                        <img class="icon" src="{{ url_for('static', filename='images/user-icon.png') }}">
                        {{ form.name(class="form-control form-control-lg") }}
                    </div>
                {% endif %}
            </div>


            <div class="form-group">
                {% if form.email.errors %}
                    <div class="formFieldContainer">
                        <img class="icon" src="{{ url_for('static', filename='images/email.png') }}">
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="inv-input">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="formFieldContainer">
                        <img class="icon" src="{{ url_for('static', filename='images/email.png') }}">
                        {{ form.email(class="form-control form-control-lg") }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {% if form.message.errors %}
                    <div class="formFieldContainer">
                        <img class="icon" src="{{ url_for('static', filename='images/subject.png') }}">
                        {{ form.message(class="form-control form-control-lg is-invalid textArea") }}
                    </div>
                    <div class="inv-input">
                        {% for error in form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="formFieldContainer">
                        <img class="icon" src="{{ url_for('static', filename='images/subject.png') }}">
                        {{ form.message(class="form-control form-control-lg textArea") }}
                    </div>
                {% endif %}
            </div>
            <div class="submitContainer">
                <div class="form-group">
                    {{ form.submit(class="submitBtn")}}
                </div>
            </div>
        </fieldset>
    </form>
    <div class="sideBar">Have any comments, questions, or suggestions? Feel free to contact me using this form. In most cases I will try to reply as quickly as possible, but please allow 3 - 5 business days for a response</div>
</div>
{% endblock %}
  