{% extends "layout.html" %}

{% block heading %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resume/resume.css') }}">
<script defer src="{{ url_for('static', filename='resume/resume.js') }}"></script>
{% endblock %}
{% block body %}
<div class="pageContainer">
    <div class="localDirectory">
        <div class="localDirectoryContentContainer">
            <img class="fileIcon" src="{{ url_for('static', filename='images/file.png') }}"></img>
            <span class="directoryLinks"><a href="{{ url_for('main.media')}}">Media</a></span>
            <span class="directoryLinks">></span>
            <span class="directoryLinks">></span>
            <span class="directoryLinks"><a href="{{ url_for('ancillary.resume')}}">Resume</a></span>
        </div>
    </div>
    <div id="resumePageContainer">
        <div class="leftColContainer">
            <div class="headingBlock">
                <span class="nameHeader">Alan Pysnack</span>
                <span class="text-muted">APysnack@Gmail.com</span>
            </div>
            <div class="tagsContainer">
                <span id="skillsHeader">PROFICIENCIES</span>
                <ul class="tags">
                    <li class="tag">ReactJS</li>
                    <li class="tag">JavaScript</li>
                    <li class="tag">TypeScript</li>
                    <li class="tag">Ruby</li>
                    <li class="tag">Ruby on Rails</li>
                    <li class="tag">AWS Cloud Deployment</li>
                    <li class="tag">Python</li>
                    <li class="tag">Java</li>
                    <li class="tag">MySQL</li>
                    <li class="tag">C/C++</li>
                    <li class="tag">Git</li>
                    <li class="tag">HTML5</li>
                    <li class="tag">CSS</li>
                </ul>
            </div>
            <div class="techSkillsContainer">
                <span id="skillsHeader">PRIMARY LANGUAGES</span>
                <span class="loadCircleContainer">
                    <span class="loadContainer">
                        <svg> 
                            <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                        </svg>
                        <div class="loadNumber"></div>
                        <div class="loadTitle">JavaScript</div>
                    </span>
                    <span class="loadContainer">
                        <svg> 
                            <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                        </svg>
                        <div class="loadNumber"></div>
                        <div class="loadTitle">Ruby</div>
                    </span>
                    <span class="loadContainer">
                        <svg> 
                            <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                        </svg>
                        <div class="loadNumber"></div>
                        <div class="loadTitle">Python</div>
                    </span>
                    <span class="loadContainer">
                        <svg> 
                            <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                        </svg>
                        <div class="loadNumber"></div>
                        <div class="loadTitle">Java</div>
                    </span>
                    <span class="loadContainer">
                        <svg> 
                            <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                        </svg>
                        <div class="loadNumber"></div>
                        <div class="loadTitle">HTML/CSS</div>
                    </span>
                </div>
                <div class="techSkillsContainer">
                    <span id="skillsHeader">SOFT SKILLS</span>
                    <span class="loadCircleContainer">
                        <span class="loadContainer">
                            <svg> 
                                <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                            </svg>
                            <div class="loadNumber"></div>
                            <div class="loadTitle">Creativity</div>
                        </span>
                        <span class="loadContainer">
                            <svg> 
                                <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                            </svg>
                            <div class="loadNumber"></div>
                            <div class="loadTitle">Writing</div>
                        </span>
                        <span class="loadContainer">
                            <svg> 
                                <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                            </svg>
                            <div class="loadNumber"></div>
                            <div class="loadTitle">Flexibility</div>
                        </span>
                        <span class="loadContainer">
                            <svg> 
                                <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                            </svg>
                            <div class="loadNumber"></div>
                            <div class="loadTitle">Public Speaking</div>
                        </span>
                        <span class="loadContainer">
                            <svg> 
                                <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                            </svg>
                            <div class="loadNumber"></div>
                            <div class="loadTitle">Initiative</div>
                        </span>
                    </div>
        </div>
        <div class="resumeContainer">
            <div class="resumeHeader">
                SUMMARY
            </div>
            <div class="textBlock">
                Full-stack Software Engineer with 2+ years of professional experience. Fields of interest include full-stack web development, mobile or desktop app development, database management, and data analysis.
            </div>

            <div class="resumeHeader">
                PROFESSIONAL EXPERIENCE
            </div>

            <div class="cellContainer">
                <div class="leftCell" style="font-weight: bold">
                    Assurant, Inc.
                </div>
                <div class="rightCell">
                    February 2022 - Present
                </div>
            </div>
            <div class="cellContainer">
                <div class="leftCell" style="font-style: italic;">
                    Associate Software Engineer
                </div>
                <div class="rightCell">
                    Baltimore, MD (Remote)
                </div>
            </div>
            <div class="textBlock">
                <span class="bulletSpan">• Contributed to 5 applications using Ruby on Rails, React (JS/Native), Vanilla JS, and TypeScript.</span>
                <span class="bulletSpan">• Employed unit testing (Jest, RSpec) and Reflect for end-to-end testing in a full stack environment.</span>
                <span class="bulletSpan">• Collaborated in 2-week agile sprints, utilizing Azure Devops and conducting code reviews on Github.</span>
                <span class="bulletSpan">• Developed APIs using RESTful (Rails & Ruby Grape) and query-based (GraphQL) approaches.</span>
                <span class="bulletSpan">• Implemented boundary-tracking table pagination, reducing API calls 2000:1 to optimize performance.</span>
                <span class="bulletSpan">• Created a testing tool for simulating API requests/responses for easier debugging.</span>
            </div>

            <div class="cellContainer">
                <div class="leftCell" style="font-weight: bold">
                    Genzeon
                </div>
                <div class="rightCell">
                    June 2021 - September 2021
                </div>
            </div>
            <div class="cellContainer">
                <div class="leftCell" style="font-style: italic;">
                    OCR Validation Intern
                </div>
                <div class="rightCell">
                    Mobile, AL (Remote)
                </div>
            </div>
            <div class="textBlock">
                <span class="bulletSpan">• Wrote Python scripts to automate PDF uploads to Azure Form Recognizer for A.I. processing.</span>
                <span class="bulletSpan">• Implemented a scheduler to monitor Azure Storage Explorer and execute scripts hourly.</span>
                <span class="bulletSpan">• Made black box inferences based on key-value data to detect the source of program bugs.</span>
                <span class="bulletSpan">• Documented suggested fixes in DevOps and SharePoint for the development team to review.</span>
            </div>

            
            <div class="cellContainer">
                <div class="leftCell" style="font-weight: bold">
                    University of South Alabama
                </div>
                <div class="rightCell">
                    August 2020 - December 2020
                </div>
            </div>
            <div class="cellContainer">
                <div class="leftCell" style="font-style: italic;">
                    Undergraduate Research Assistant
                </div>
                <div class="rightCell">
                    Mobile, AL
                </div>
            </div>
            <div class="textBlock">
                <span class="bulletSpan">• Utilized Weka software to train and test various supervised machine learning algorithms.</span>
                <span class="bulletSpan">• Preprocessed data into feature vectors using Python scripts based on step sequencing.</span>
                <span class="bulletSpan">• Evaluated and ranked algorithm performances using the Matthews' correlation coefficient.</span>
            </div>

            <div class="cellContainer">
                <div class="leftCell" style="font-weight: bold">
                    Washington & West, LLC
                </div>
                <div class="rightCell">
                    April 2016 - April 2018
                </div>
            </div>
            <div class="cellContainer">
                <div class="leftCell" style="font-style: italic;">
                    Clinical Appeals Sender
                </div>
                <div class="rightCell">
                    Baltimore, MD
                </div>
            </div>
            <div class="textBlock">
                <span class="bulletSpan">• Monitored health care provider databases to identify and document insurance payments.</span>
                <span class="bulletSpan">• Extracted medical records, removed PHI, and uploaded correspondence to company file server.</span>
                <span class="bulletSpan">• Updated case statuses locally and remotely through provider command line interfaces.</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}