{% extends "layout.html" %}

{% block heading %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resume/resume.css') }}">
<script defer src="{{ url_for('static', filename='resume/resume.js') }}"></script>
{% endblock %}
{% block body %}
<div class="pageContainer">
    <div class="localDirectory">
        <div class="localDirectoryContentContainer">
            <img class="fileIcon" src="{{ url_for('static', filename='images/file.png') }}"></img>
            <span class="directoryLinks"><a href="{{ url_for('main.media')}}">Media</a></span>
            <span class="directoryLinks">></span>
            <span class="directoryLinks"><a href="{{ url_for('main.miscellaneous')}}">Misc</a></span>
            <span class="directoryLinks">></span>
            <span class="directoryLinks"><a href="{{ url_for('ancillary.resume')}}">Resume</a></span>
        </div>
    </div>
    <div id="resumePageContainer">
        <div class="leftColContainer">
            <div class="headingBlock">
                <span class="nameHeader">Alan Pysnack</span>
                <span class="text-muted">APysnack@Gmail.com</span>
            </div>
            <div class="tagsContainer">
                <span id="skillsHeader">PROFICIENCIES</span>
                <ul class="tags">
                    <li class="tag">Python</li>
                    <li class="tag">Java</li>
                    <li class="tag">Javascript</li>
                    <li class="tag">ReactJS</li>
                    <li class="tag">C++</li>
                    <li class="tag">MIPS</li>
                    <li class="tag">MySQL</li>
                    <li class="tag">Git</li>
                    <li class="tag">HTML</li>
                    <li class="tag">Microsoft Office</li>
                    <li class="tag">Adobe Photoshop</li>
                    <li class="tag">Adobe Acrobat Pro</li>
                    <li class="tag">Typing: 75 WPM</li>
                </ul>
            </div>
            <div class="techSkillsContainer">
                <span id="skillsHeader">PRIMARY LANGUAGES</span>
                <span class="loadCircleContainer">
                    <span class="loadContainer">
                        <svg> 
                            <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                        </svg>
                        <div class="loadNumber"></div>
                        <div class="loadTitle">Python</div>
                    </span>
                    <span class="loadContainer">
                        <svg> 
                            <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                        </svg>
                        <div class="loadNumber"></div>
                        <div class="loadTitle">C++</div>
                    </span>
                    <span class="loadContainer">
                        <svg> 
                            <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                        </svg>
                        <div class="loadNumber"></div>
                        <div class="loadTitle">Java</div>
                    </span>
                    <span class="loadContainer">
                        <svg> 
                            <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                        </svg>
                        <div class="loadNumber"></div>
                        <div class="loadTitle">JavaScript</div>
                    </span>
                    <span class="loadContainer">
                        <svg> 
                            <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                        </svg>
                        <div class="loadNumber"></div>
                        <div class="loadTitle">HTML/CSS</div>
                    </span>
                </div>
                <div class="techSkillsContainer">
                    <span id="skillsHeader">SOFT SKILLS</span>
                    <span class="loadCircleContainer">
                        <span class="loadContainer">
                            <svg> 
                                <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                            </svg>
                            <div class="loadNumber"></div>
                            <div class="loadTitle">Creativity</div>
                        </span>
                        <span class="loadContainer">
                            <svg> 
                                <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                            </svg>
                            <div class="loadNumber"></div>
                            <div class="loadTitle">Writing</div>
                        </span>
                        <span class="loadContainer">
                            <svg> 
                                <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                            </svg>
                            <div class="loadNumber"></div>
                            <div class="loadTitle">Flexibility</div>
                        </span>
                        <span class="loadContainer">
                            <svg> 
                                <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                            </svg>
                            <div class="loadNumber"></div>
                            <div class="loadTitle">Energy</div>
                        </span>
                        <span class="loadContainer">
                            <svg> 
                                <circle class="loadCircle" cx="60" cy="60" r="50"></circle>
                            </svg>
                            <div class="loadNumber"></div>
                            <div class="loadTitle">Public Speaking</div>
                        </span>
                    </div>
        </div>
        <div class="resumeContainer">
            <div class="resumeHeader">
                SUMMARY
            </div>
            <div class="textBlock">
                Computer Science Senior. Primary fields of interest include Web/App Development, Data Science, & Machine Learning,  10+ years of experience in customer service, 2 years of experience accessing Healthcare Provider databases to detect payments on accounts and retrieve medical records, and four years of acting as a direct supervisor for teams of employees
            </div>
            <div class="resumeHeader">
                EDUCATION
            </div>
            <div class="cellContainer">
                <div class="leftCell" style="font-style: italic">
                    University of South Alabama
                </div>
                <div class="rightCell">
                    Expected Graduation: December 2021
                </div>
            </div>
            <div class="cellContainer">
                <div class="leftCell">
                    B.S. in Computer Science
                </div>
                <div class="rightCell">
                    Minor in Mathematics
                </div>
            </div>
            <div class="cellContainer">
                <div class="leftCell">
                    4.0 University GPA
                </div>
                <div class="rightCell">
                </div>
            </div>

            <div class="resumeHeader">
                PROFESSIONAL EXPERIENCE
            </div>
            <div class="cellContainer">
                <div class="leftCell" style="font-weight: bold">
                    University of South Alabama
                </div>
                <div class="rightCell">
                    August 2020 - December 2020
                </div>
            </div>
            <div class="cellContainer">
                <div class="leftCell" style="font-style: italic;">
                    Undergraduate Research Assistant
                </div>
                <div class="rightCell">
                    Mobile, Alabama
                </div>
            </div>
            <div class="textBlock">
                • Under the direction of Dr. Tom Johnsten, utilized Python in conjunction with Weka machine learning software to train, test, and measure the performance of various classification algorithms used to predict the presence of signal peptides in eukaryotic and archaeal proteins 
            </div>

            <div class="cellContainer">
                <div class="leftCell" style="font-weight: bold">
                    Washington & West, LLC
                </div>
                <div class="rightCell">
                    April 2016 - April 2018
                </div>
            </div>
            <div class="cellContainer">
                <div class="leftCell" style="font-style: italic;">
                    Clinical Appeals Sender
                </div>
                <div class="rightCell">
                    Baltimore, Maryland
                </div>
            </div>
            <div class="textBlock">
                <span class="bulletSpan">• Utilized Healthcare provider databases (EPIC) and Microsoft Excel to extrapolate medical records and identify account payments</span>
                <span class="bulletSpan">• Finalized 80+ clinical appeals daily, including high-priority cases with impending due dates and/or high value insurance claims of $100,000+</span>
            </div>

            <div class="cellContainer">
                <div class="leftCell" style="font-weight: bold">
                    ROSS Stores, Inc.
                </div>
                <div class="rightCell">
                    October 2011 - April 2018
                </div>
            </div>
            <div class="cellContainer">
                <div class="leftCell" style="font-style: italic;">
                    Stock Area Supervisor
                </div>
                <div class="rightCell">
                    Gaithersburg, Maryland
                </div>
            </div>
            <div class="textBlock">
                <span class="bulletSpan">
                    • Directed teams of 8 – 20 associates, trained new hires, and ensured teams delivered on daily productivity goals
                </span>
                <span class="bulletSpan">
                    • 2015: Promoted to Stock Area Supervisor at Gaithersburg, MD. Store ranked #1 in the district for year-over-year sales growth during the holiday season, with the stock team obtaining its highest loss prevention score in 5 years
                </span>
                <span class="bulletSpan">
                    • 2014: Appointed Back-Up Stock Area Supervisor at Rockville, MD. Assisted the Stock Area Supervisor with directing a 20+ member stock team at the highest grossing store in the region
                </span>
                <span class="bulletSpan">
                    • 2012: Promoted to Stock Area Supervisor at Owings Mills, MD. Improved the team’s performance 20% in accordance with the corporation’s STEP process
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}