{% extends "layout.html" %}
{% block heading %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='construction.css') }}">
{% endblock %}


{% block body %}
    <div class="pageContainer">
        <img src="{{url_for('static', filename='images/construction.png')}}">
        <h1 class="constructionHead">Not So Fast</h1>
        <div class="constructionMsg">We're sorry, this page is currently still under construction. Please check back in the future, and don't forget to bring moar cheezburgers, we're hard at work here</div>
        <div class="linkContainer">
            <span>In the meantime, here are some links to check out</span>
            <a href="{{ url_for('ancillary.resume') }}">Resume</a>
            <a href="{{ url_for('ancillary.contact') }}">Contact</a>
            <a href="{{ url_for('ancillary.about') }}">About Me</a>
            <a href="{{ url_for('ancillary.donate') }}">Donate</a>
        </div>
    
    </div>
{% endblock %}
  