{% extends "layout.html" %} {% block heading %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='/code/code.css') }}"
/>
{% endblock %} {% block body %}
<div class="pageContainer">
  <div class="projects-container">
    <div class="project">
      <h2>Project Fault</h2>
      <a href="https://project-fault.com">
        <img
          src="{{ url_for('static', filename='images/project-logo-1.jpg') }}"
        />
      </a>

      <div class="project-details">
        <div>Framework: Flask</div>
        <div>Front End: Vanilla JS/Jinja</div>
        <div>Back End: Python/SQLAlchemy</div>
        <div>Developed: 2021 - 2022</div>

        <a
          href="https://github.com/APysnack/ProjectFault"
          class="github-container"
        >
          <img
            class="github-link"
            src="{{ url_for('static', filename='images/github.png') }}"
          />

          <div>Github Repo</div>
        </a>
      </div>
    </div>

    <div class="project">
      <h2>Live Rap Center</h2>
      <a href="https://liverapcenter.com">
        <img
          src="{{ url_for('static', filename='images/project-logo-2.jpg') }}"
        />
      </a>

      <div class="project-details">
        <div>Framework: Ruby On Rails/React</div>
        <div>Front End: ReactJS</div>
        <div>Back End: Ruby/GraphQL</div>
        <div>Developed: 2023 - 2024</div>

        <a href="https://github.com/APysnack/live-rap-center">
          <div class="github-container">
            <img
              class="github-link"
              src="{{ url_for('static', filename='images/github.png') }}"
            />

            <div>Github Repo</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
