{% extends "layout.html" %} {% block heading %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='/code/code.css') }}"
/>
{% endblock %} {% block body %}
<div class="pageContainer">
  <div class="projects-container">
    {% for project in projects %}
    <div class="project">
      <h2>{{ project['name'] }}</h2>

      <div class="project-logo-container">
        <div class="overlay-text">
          {{ project['url'] | replace('https://', '') }}
        </div>
        <a href="{{ project['url'] }}">
          <img src="{{ url_for('static', filename=project['image']) }}" />
        </a>
      </div>

      <div class="project-details">
        <div class="project-specs">
          <div class="project-spec">
            <i class="fas fa-cogs"></i>
            <div>{{ project['framework'] }}</div>
          </div>

          <div class="project-spec">
            <i class="fas fa-laptop-code"></i>
            <div>{{ project['frontend'] }}</div>
          </div>

          <div class="project-spec">
            <i class="fas fa-server"></i>
            <div>{{ project['backend'] }}</div>
          </div>

          <div class="project-spec">
            <i class="fas fa-calendar-alt"></i>
            <div>{{ project['developed'] }}</div>
          </div>
        </div>

        <a href="{{ project['github_url'] }}" class="github-container">
          <div>Github Repo</div>
          <img
            class="github-link"
            src="{{ url_for('static', filename='images/github.png') }}"
          />
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
